.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    background-color: rgb(193, 193, 193);
    position: relative;
}
.popup span{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}